:root{
    --navColor: #034980;
    --bgGradient: linear-gradient(90deg, #00467F 0%, #A5CC82 100%);
    --fontColor: #ffffff; 
    --footColor: #9EC682;
}
*{
    margin: 0;
    box-sizing: border-box;
}
.header{
 background-color: var(--navColor);
 position: fixed;
 width: 100%;
 top: 0;
 left: 0;
 z-index: 1;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav__logo{
    display: flex;
    align-items: center;
    margin-left: 5%;
    padding: 1%;
}
.nav__menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav__item{
    font-size: 1rem;
    margin: 0 1rem;
    text-transform: uppercase;
}
.nav__link{
    color: var(--fontColor);
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
}
.nav__link:hover{
    background-color: var(--footColor);
    transition: 0.5s;
}
.nav__toggle{
    color: var(--fontColor);
    background: none;
    border: none;
    font-size: 2rem;
    padding: 0 1.5rem;
    
    display: none;
}
.nav__close{
   position: absolute;
    left: 90%;
    top: 3%;
    color: var(--fontColor);
    background: none;
    border: none;
    font-size: 2rem;
    padding: 0 1.5rem;
    display: none;
}
.imgBig{
    margin-top: 8%;
}
.imgBig img{ 
    width: 100%;
    
}
.percussion{
    margin-top: -1%;
    
}
.percussion__title{
    text-align: center;
    padding: 2% 1%;
    margin-top:0;
   background: var(--bgGradient);
   width: 100%;
}
.percussion__title h2{
    font-size: 3rem;
    color: var(--fontColor);
    text-transform: uppercase;
}
.percussion__instruments{
    display: flex;
    justify-content: center;
    gap: 6%;
    flex-wrap: wrap;
    margin: 5% ;
}
.percussion__instruments--item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 2rem;
    margin-top: 2%;
    
}

.percussion__instruments--item img{
    width: 25rem;
    height: 20rem;
    border-radius: 1rem;
    transition: all 500ms ease-out;
}
.capaPercussion{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}
.percussion__instruments--item:hover > .capaPercussion{
    opacity: 1;
    visibility: visible;
}
.strings__title{
    text-align: center;
    padding: 2% 1%;
    margin-top:0;
   background: var(--bgGradient);
   width: 100%;
}
.strings__title h2{
    font-size: 3rem;
    color: var(--fontColor);
    text-transform: uppercase;
}
.strings__instruments{
    display: flex;
    justify-content: center;
    gap: 6%;
    flex-wrap: wrap;
    margin: 5% ;
}
.strings__instruments--item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 2%;
}
.strings__instruments--item img{
    width: 25rem;
    height: 20rem;
    border-radius: 1rem;
    transition: all 500ms ease-out;
}
.capaStrings{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}
.strings__instruments--item:hover > .capaStrings{
    opacity: 1;
    visibility: visible;
}

.wind__title{
    text-align: center;
    padding: 2% 1%;
    margin-top:0;
   background: var(--bgGradient);
   width: 100%;
}
.wind__title h2{
    font-size: 3rem;
    color: var(--fontColor);
    text-transform: uppercase;
}
.wind__instruments{
    display: flex;
    justify-content: center;
    gap: 6%;
    flex-wrap: wrap;
    margin: 5% ;
}
.wind__instruments--item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 2%;
}
.wind__instruments--item img{
    width: 25rem;
    height: 20rem;
    border-radius: 1rem;
    transition: all 500ms ease-out;
}
.capaWind{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}
.wind__instruments--item:hover > .capaWind{
    opacity: 1;
    visibility: visible;
}


.electronics__title{
    text-align: center;
    padding: 2% 1%;
    margin-top:0;
   background: var(--bgGradient);
   width: 100%;
}
.electronics__title h2{
    font-size: 3rem;
    color: var(--fontColor);
    text-transform: uppercase;
}
.electronics__instruments{
    display: flex;
    justify-content: center;
    gap: 6%;
    flex-wrap: wrap;
    margin: 5% ;
}
.electronics__instruments--item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 2%;
}
.electronics__instruments--item img{
    width: 25rem;
    height: 20rem;
    border-radius: 1rem;
    transition: all 500ms ease-out;
}
.capaElectronics{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}
.electronics__instruments--item:hover > .capaElectronics{
    opacity: 1;
    visibility: visible;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: var(--footColor);
    height: 10rem;
}
.footer__logo{
    margin-left: 5%;
}
.footer__text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}
.footer__text h3{
    margin-right: 5%;
    color: var(--navColor);
}
.footer__socialRed{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}
.footer__socialRed img{
    width: 2rem;
}
.footer__made{
    display: flex;
    justify-content: center;
    background: var(--footColor);
}
.footer__made h4{
    color: var(--fontColor);
    font-size:0.8rem;;
}
.footer__made h4 a{
    text-decoration: none;
    color: var(--navColor);
}
@media (max-width: 768px) {
    .header{
        height: 5rem;
    }
    .nav__logo img{
        width: 57%;
    }
    .nav__menu{
       flex-direction: column;
       align-items: center;
       background-color: var(--footColor) ;
       position: fixed;
       left: 0;
       top: 0;
       width: 100%;
       padding: 1.5rem 0;
       height: 100vh;
       overflow-y: auto;

       left: 100%;/*el menú queda oculto a la derecha*/
       transition: left 0.3s;
    }
    .nav__link:hover{
        background: none;
        color: var(--navColor);
        
    }
    .nav__item{
        margin-top: 14%;
        font-size: 2rem;
    }
    
    
    .nav__toggle{
        display: block;
        cursor: pointer;
    }
    
    /*para activa el menu con JS*/
    .nav__menu-visible{
        left: 0; /*cuando está activo cubre toda la pantalla*/
        height: 100vh;
    }
    .nav__close{
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 576px) {
    .nav__close{
        left: 88%;
    }
}
@media (max-width: 420px) {
    .nav__close{
        left: 84%;
    }
    .footer__logo{
        display: none;
    }
}
@media (max-width: 320px) {
    .nav__menu-visible {
        height: 122vh;
    }
}